{% extends 'base.html' %}

{% block content %}

<div class="container">
        <h2>Reservation Confirmed!</h2>
        <p>Thank you for booking with us, <strong>{{ reservation.name }}</strong>.</p>
        <div class="details">
            <p><strong>Date:</strong> {{ reservation.date }}</p>
            <p><strong>Time:</strong> {{ reservation.time }}</p>
            <p><strong>Guests:</strong> {{ reservation.number_of_guests }}</p>
            <p>If your booking is invalid we will contact you as soon as possible.</p>
            <p>We look forward to seeing you!</p>
        </div>
        <button class="btn btn-outline-primary m-4"><a href="/">Return to Home</a></button>
    </div>

{% endblock %}