{% extends 'base.html' %}

{% block content %}
        <h1>Menu</h1>

{% for category in categories %}
<h2>{{ category.name }}</h2>
<ul>
        {% for menu in category.menu_set.all %}
        <li class="no-bullets"><h2><a href="{% url 'menu:menu_detail' menu.slug %}">{{ menu.name }}</a></h2></li>
        <li class="no-bullets">{{ menu.description }}</li>
        <li class="no-bullets">Price: {{ menu.price }}</li>
        {% endfor %}

</ul>
{% endfor %}

<br>
<div class="text-center">
<a href="{% url 'reservation:reservation_view' %}" type="button" class="btn btn-success col-6 m-4">Make a Reservation</a>
<br>
<a href="{% url 'home:home_view' %}" type="button" class="btn btn-warning col-6 m-4">Return to Home</a>
</div>

{% endblock %}
    

    
